target/
target-ui/
dist/
node_modules
report.json
src-extensions/*.blob
src-extensions/server
perf.data*
keystore.properties
src-tauri/gen/android/app/
ffmpeg-android-maker/
bazel-*
rust-project.json
_examples_applecross/
_rules_foreign_cc/
.ropeproject/
**/.gradle
**/.settings
_examples_applecross/
