[submodule "src-extensions-wasm"]
	path = lib/extensions-wasm
	url = https://github.com/Moosync/wasm-extension-runner
	branch = main
[submodule "package/aur/moosync"]
	path = package/aur/moosync
	url = ssh://aur@aur.archlinux.org/moosync.git
[submodule "package/aur/moosync-git"]
	path = package/aur/moosync-git
	url = ssh://aur@aur.archlinux.org/moosync-git.git
[submodule "package/flatpak/app.moosync.moosync"]
	path = package/flatpak/app.moosync.moosync
	url = git@github.com:flathub/app.moosync.moosync.git
[submodule "package/deb/ppa"]
	path = package/deb/ppa
	url = git@github.com:Moosync/ppa.git
