<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleExecutable</key>
        <string>Moosync</string>
        <key>CFBundleIdentifier</key>
        <string>app.moosync.moosync</string>
        <key>CFBundleName</key>
        <string>Moosync</string>
        <key>CFBundleDisplayName</key>
        <string>Moosync</string>
        <key>CFBundleIconFile</key>
        <string>icon.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.15</string>
        <key>CFBundleShortVersionString</key>
        <string>{VERSION}</string>
        <key>CFBundleVersion</key>
        <string>{RELEASE}</string>
        <key>NSHighResolutionCapable</key>
        <true />
    </dict>
</plist>