.prefs-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.path-prefs-background {
    align-content: flex-start;
    background-color: var(--tertiary);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 255px;
}

.input-prefs-background {
    align-content: flex-start;
    background-color: var(--tertiary);
    height: 65px;
}

.ext-input {
    background: inherit;
    height: 80%;
}

.ext-input-hover {
    border: 0;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid var(--accent);
    }
}

.item-text {
    font-size: 18px;
    color: var(--textPrimary);
    min-width: 0;
    text-align: left;
}

.file-picker-text {
    color: var(--textSecondary) !important;
}

.preference-title {
    font-weight: 400;
    font-size: 20px;
    color: var(--textPrimary);
}

.tooltip.b-tooltip {
    display: block;
    opacity: 0.9;
}

.add-directories-button {
    color: var(--accent);
}

.single-perf-row {
    margin-bottom: 15px;
}

.dropdown-list {
    width: 250px;
    background: var(--secondary);
    -webkit-appearance: none;
    border: 0px;
    padding: 10px 15px 10px 15px;
    color: var(--textPrimary);
}