.route-out {
    animation: 0.5s ease slide-out;
}

.route-in {
    animation: 0.5s ease slide-in;
}

@keyframes slide-in {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-out {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}