*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  min-height: 50px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  min-height: 40px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}