.fade-leave-active,
.fade-enter-active {
  transition: opacity 0.3s ease-out;
  transition-delay: 0.15s;
  white-space: nowrap;
}

.fade-leave-to {
  transition: opacity 0.1s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.animate__slideOutRight_faster {
  --animate-duration: 0.5s;
}

.animate__slideInLeft_delay {
  --animate-delay: 0.3s;
}

.animate_absolute {
  position: absolute;
}