# [build]
# target = "x86_64-unknown-linux-gnu"

# [target.x86_64-unknown-linux-gnu]
# linker = "clang"
# rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]

[target.wasm32-unknown-unknown]
rustflags = [
    '--cfg',
    'getrandom_backend="wasm_js"',
    '--cfg',
    'erase_components',
    '-C',
    'debuginfo=0',
]

[env]
FFMPEG_PKG_CONFIG_PATH = "/home/ovenoboyo/projects/moosync/tauri/Moosync/src-tauri/rodio-player/ffmpeg/build/build/lib/pkgconfig"
FFMPEG_INCLUDE_DIR = "/home/ovenoboyo/projects/moosync/tauri/Moosync/src-tauri/rodio-player/ffmpeg/build/build/include"
