# [build]
# target = "x86_64-unknown-linux-gnu"

# [target.x86_64-unknown-linux-gnu]
# linker = "clang"
# rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]

[target.wasm32-unknown-unknown]
rustflags = [
    '--cfg',
    'getrandom_backend="wasm_js"',
    '--cfg',
    'erase_components',
    '-C',
    'debuginfo=0',
]

[env]
# FFMPEG_PKG_CONFIG_PATH = "/home/ovenoboyo/projects/moosync/tauri/Moosync/ffmpeg/build-ffmpeg-x86_64-unknown-linux-gnu/build/lib/pkgconfig"
FFMPEG_INCLUDE_DIR = "/home/ovenoboyo/projects/moosync/tauri/Moosync/ffmpeg/build-ffmpeg-x86_64-unknown-linux-gnu/build/include"
FFMPEG_LIBS_DIR = "/home/ovenoboyo/projects/moosync/tauri/Moosync/ffmpeg/build-ffmpeg-x86_64-unknown-linux-gnu/build/lib"
FFMPEG_LINK_MODE = "static"
PKG_CONFIG_SYSROOT_DIR = ""
BINDGEN_EXTRA_CLANG_ARGS = ""
