.sidebar-mobile {
    z-index: 1001;
}

.sidebar-mobile > .b-sidebar-outer > #sidebar.b-sidebar {
    bottom: 0;
    top: unset !important;
    width: 100vw !important;
    height: 80px !important;
    background: var(--secondary);
    border-radius: 0px;

    > .b-sidebar-body > .extra-margin-top {
        height: 100%;
        display: flex;
    }

    > .b-sidebar-header {
        display: none;
    }

    > div > div {
        > div.sidebar-header {
            display: none !important;
        }

        > div.d-flex.tabs-holder {
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            width: 100%;
            padding: 0 15px 0 15px;

            > #Queue {
                display: none !important;
            }

            > #Genres {
                display: none !important;
            }

            > .button-bar.button-active > .icon-padding-open > .text-padding {
                opacity: 1;
            }

            > .button-bar {
                margin-top: 0px;
                > .icon-padding-open.icon-transition {
                    flex-direction: column;
                }

                > .icon-padding-open.icon-transition:hover {
                    margin-left: 0;
                }

                > .icon-padding-open {
                    padding: 0px;
                }

                > .icon-padding-open > .text-padding {
                    opacity: 0;
                    padding-left: 0px;
                    font-size: 12px;
                    font-weight: 700;
                    transition: opacity 0.2s;
                }

                > .icon-padding-open > .icon {
                    width: unset;
                    height: 25px;
                }

                > div.whitebar.whitebar-active {
                    display: none;
                }
            }
        }
    }
}

.musicbar-content-mobile {
    > .musicinfo-show {
        visibility: hidden;
        display: none;
    }

    > .slider.slider-mobile {
        transform: translateY(calc(100vh - 80px));
        z-index: 1000;
        transition-duration: 0s;
        height: 100vh;

        > .music-info-container > .time-container {
            margin-top: 15px;
        }

        > .music-info-container
            > .time-container
            > .slider-container
            > .timeline
            > .time-slider {
            padding: 0 15px 0 15px;
            > .time-slider-rail {
                align-items: center;
            }
        }

        > .music-info-container > .song-info-container {
            position: unset;
            padding-left: unset;
            top: unset;
            left: unset;
            width: unset;
            > .song-title-details,
            .song-subtitle-details {
                text-align: center;
            }
        }

        > .music-info-container > .controls-container {
            margin-top: 15px;
        }
    }

    > .musicbar-background {
        bottom: calc(80px + 16px);
        height: 50px;
        background: var(--secondary);
        border-radius: 60px;

        > .musicbar {
            background: var(--secondary);
            border-radius: 60px;
            > .bar-container {
                background: var(--secondary);
                margin-top: 4px;

                > div
                    > div.col-lg-auto.col-1.align-self-center.no-gutters.extra-col {
                    display: none;
                }
            }
        }

        // song details
        > div
            > div.container-fluid.d-flex.bar-container.h-100.pb-2
            > div
            > div.col-4.no-gutters.details-col.w-100 {
            display: block;
            flex: 0 0 75%;
            max-width: 75%;

            // song details image container
            > div > div.col-auto.mr-3 > div > div {
                margin-right: 0px;
                display: flex;
            }
            // song details image
            > div > div.col-auto.mr-3 > div > div > img,
            svg {
                width: 45px;
                height: 45px;
                min-width: 45px;
                align-self: center;
            }

            // song title
            > div > div.col.text-truncate {
                > div.row.align-items-center.justify-content-start > div > div {
                    font-size: 14px;
                }

                > div.row.no-gutters.w-100 {
                    margin-top: -4px;
                }
            }
        }

        // Timeline
        > div > div.timeline.pl-2.pr-2 {
            padding: 0 15px 0 15px;
        }
        > div > div.timeline.pl-2.pr-2 > div {
            padding: 0px 10px 0 10px;
            > div {
                align-items: start;
                > div {
                    height: 30%;
                    > div.time-slider-dot > div {
                        height: 0px;
                    }
                }
            }
        }

        > div
            > div.container-fluid.d-flex.bar-container.h-100.pb-2
            > div
            > div.col.align-self-center.no-gutters.controls-col
            > div {
            justify-content: end;

            > .prev-button,
            .next-button,
            .shuffle-button,
            .fav-button,
            .repeat-button {
                display: none;
            }

            .timestamp-container {
                display: none;
            }
        }
    }
}

.main-container-mobile {
    padding-bottom: calc(80px + 50px + 16px);
    padding-left: 0;

    *::-webkit-scrollbar,
    *::-webkit-scrollbar-thumb {
        width: 0px !important;
        display: none !important;
    }

    *::-webkit-scrollbar-thumb {
        display: none !important;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    div.container-fluid.song-container.h-100.d-flex.flex-column {
        padding-right: 0px;
        padding-left: 15px;

        > .compact-container > .song-list-compact > div > .container-fluid {
            padding-left: 0px;
        }
    }

    div.container-fluid.h-100.d-flex.flex-column {
        padding-left: 0;
        padding-right: 0;
    }

    .search-song-list-container {
        padding-left: 15px;
        padding-right: 0;
    }

    div.song-list-compact > div > div {
        padding-right: 0;
        padding-left: 0;

        > div.container-fluid.tab-carousel {
            display: none !important;
        }

        > div.row.no-gutters > .scroller {
            padding-right: 0px;
        }

        > div.container-fluid.tab-carousel.tab-carousel-show-mobile {
            display: flex !important;
        }

        > div.row.no-gutters.h-100 > div {
            padding-left: 0;
        }
    }

    #scroller > div > .wrapper {
        padding-right: 0px;
        > div {
            > .img-container {
                width: 45px;
                height: 45px;
                margin-right: 10px;

                > .img-container {
                    width: 45px;
                    height: 45px;

                    > img,
                    svg {
                        width: 45px;
                        height: 45px;
                        min-width: 45px;
                        margin-right: 10px;
                    }

                    > .play-button-song-list {
                        display: none !important;
                    }
                }
            }

            > div > div > div {
                > .title {
                    font-size: 14px;
                }

                > div > .song-subtitle {
                    font-size: 12px;
                }
            }

            > .ellipsis-icon {
                display: block;
                padding: 0 !important;
                margin: 0 0 0 10px !important;
                transform: rotate(90deg);
            }
            > .timestamp {
                display: none;
            }
        }
    }

    > div
        > .song-container
        > div
        > div
        > #scroller
        > div
        > div
        > .card
        > .card-body
        > .card-title {
        font-size: 16px;
    }
}

.topbar.topbar-mobile {
    width: 100%;
    left: 0;
    padding-left: 20px;

    > div > div > .nav-icons {
        display: none;
    }

    > div > div > div.col-auto.pr-5.ml-auto.my-auto.icons-bar.d-flex {
        margin-right: 0px;
        padding-right: 0 !important;
        > div > div > div {
            margin-right: 15px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .sidebar.sidebar-mobile {
        display: block;
    }

    .topbar.topbar-mobile {
        display: flex;
    }

    .main-container-mobile > div > .song-container {
        display: block;

        > .page-title {
            display: none;
        }

        > .compact-container {
            padding-top: 0px;
        }

        // Song details
        > div > .song-details-container {
            display: none;
        }
    }

    .mini-player {
        display: none;
    }
}

.musicinfo-mobile-cover {
    width: 300px;
    height: 300px;

    > .image-container > div > div > img {
        display: block;
    }
}

.musicinfo-mobile-cover-container {
    justify-content: center;
}

.body-mobile {
    * > img,
    svg {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.body-mobile > .context-menu-root {
    > .context-menu-outer {
        background-color: rgba(0, 0, 0, 0.85) !important;
        z-index: 1005;
        max-width: unset !important;

        :last-child {
            margin-bottom: 0px;
        }

        :first-child {
            margin-top: 0px;
        }

        > .bottom-sheet-container {
            background-color: var(--secondary) !important;
            > .context-menu-item.context-menu-open {
                background-color: var(--secondary);
                color: var(--textPrimary);
                padding: 10px 15px;
            }
        }
    }
}
