name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build-and-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    continue-on-error: false

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux x64
            os: ubuntu-22.04
          - name: Linux ARM64
            os: ubuntu-22.04-arm
          - name: macOS x64
            os: macos-15-intel
          - name: macOS ARM64
            os: macos-latest
          - name: Windows x64
            os: windows-latest

    steps:
      - name: Enable Git Long Paths (Windows)
        if: runner.os == 'Windows'
        run: |
          git config --system core.longpaths true 
          git config --global core.symlinks true

      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Install Common linux Dependencies
        if: startsWith(matrix.os, 'ubuntu-22.04')
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: >
            libwebkit2gtk-4.1-dev gir1.2-javascriptcoregtk-4.1
            libgtk-3-dev libunwind-dev librsvg2-dev patchelf 
            alsa-tools libasound2-dev libudev-dev 
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev 
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad 
            gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools 
            gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl 
            gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio libappindicator3-dev 
            nasm yasm autoconf automake libtool pkg-config make build-essential clang
          version: 1.0

      - name: Install ARM-Only linux Dependencies
        if: matrix.os == 'ubuntu-22.04-arm'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: >
            curl file xdg-utils libssl-dev libfuse2 libayatana-appindicator3-dev
          version: 1.0

      # - name: Configure Windows Environment
      #   if: runner.os == 'Windows'
      #   shell: bash
      #   run: |
      #     echo "BAZEL_SH=C:\msys64\usr\bin\bash.exe" >> $GITHUB_ENV
      #     echo "BAZEL_VC=C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC" >> $GITHUB_ENV

      - uses: msys2/setup-msys2@v2
        if: runner.os == 'Windows'
        with:
          update: true
          install: >-
            curl
            git
            patch 
            diffutils 
            zip 
            unzip

      # Build Step
      - name: Bazel Build ffmpeg
        run: bazel build //external/ffmpeg

      - name: Bazel Build core
        run: bazel build --keep_going //core/...

      - name: Bazel Build ui
        run: bazel build //ui:moosync_ui

      # - name: Bazel Test
      #   run: bazel test //... --keep_going --test_output=errors
      #   env:
      #     BAZEL_SH: ${{ env.BAZEL_SH }}
