name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    continue-on-error: false

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux x64
            os: ubuntu-latest
          - name: Linux ARM64
            os: ubuntu-24.04-arm
          - name: macOS x64
            os: macos-15-intel
          - name: macOS ARM64
            os: macos-latest
          - name: Windows x64
            os: windows-latest

    steps:
      - name: Enable Git Long Paths (Windows)
        if: runner.os == 'Windows'
        run: git config --system core.longpaths true

      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          disk-cache: ${{ github.workflow }}
          # Share repository cache between workflows.
          repository-cache: true

      - name: Mount Bazel Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
            ~/_bazel_runner
          key: bazel-${{ runner.os }}-${{ hashFiles('.bazelversion', 'MODULE.bazel', 'WORKSPACE') }}
          restore-keys: |
            bazel-${{ runner.os }}-

      # - name: Configure Windows Environment
      #   if: runner.os == 'Windows'
      #   shell: bash
      #   run: |
      #     echo "BAZEL_SH=C:\msys64\usr\bin\bash.exe" >> $GITHUB_ENV
      #     echo "BAZEL_VC=C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC" >> $GITHUB_ENV

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            curl
            git
            patch 
            diffutils 
            zip 
            unzip

      # Build Step
      - name: Bazel Build
        run: bazel build //tauri:moosync

      # - name: Bazel Test
      #   run: bazel test //... --keep_going --test_output=errors
      #   env:
      #     BAZEL_SH: ${{ env.BAZEL_SH }}
