name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-22.04-arm

    steps:


      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: true
          repository-cache: true

      - name: Install Dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: >
            libwebkit2gtk-4.1-dev gir1.2-javascriptcoregtk-4.1
            libgtk-3-dev libunwind-dev librsvg2-dev patchelf 
            alsa-tools libasound2-dev libudev-dev 
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev 
            gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad 
            gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools 
            gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl 
            gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio
            nasm yasm autoconf automake libtool pkg-config make build-essential clang libenchant-2-2
            curl file xdg-utils libfuse2 libayatana-appindicator3-dev libdbus-1-dev 
          version: 1.0

      - name: Run Tests
        run: bazel test --test_output=streamed --build_tests_only //...
